# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin

/.tmp

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

/.vscode
/.github
node_modules
/resources/html
/resources/html/licenses.windi.html
/resources/html/main.windi.html
/dist/vpkscan-release.zip