extends _layout.pug
block append scripts
	script(defer src="/js/licenses.js")
block body
	a.text-white.px-8px.pt-2px.pb-10px.no-underline.h-15px.block.text-center.fixed.top-0.left-0(href="/html/main.html" bg="[#634a8e]" rounded="[0_0_10px_0]" data-translation-key="scannerButton")
	h1.text-center(data-translation-key="licenseTitle")
	.text-center
		button#toggle(data-translation-key="toggleLicenseOpen")
	mixin l(name, href)
		details.text-center.my-30px
			summary(data-translation-key=name)
			if href!=undefined
				a(href=href)=href
				br
			.m-auto.w-700px.h-500px
				pre.w-700px.h-500px.overflow-scroll.text-left.border-solid.border-1.border-gray-500.resize.p-5px
					block
	+l("vpkCSLicense", "https://github.com/NicholasDJM/vpkscan")
		include /licenses/vpkscan.txt
	+l("neutralinoLicense", "https://neutralino.js.org/")
		include /licenses/neutralinojs.txt
	+l("pugLicense", "https://pugjs.org/")
		include /licenses/pugjs.txt
	+l("windiCSSLicense", "https://windicss.org/")
		include /licenses/WindiCSS.txt
	+l("jqueryLicense", "https://jquery.com/")
		include /licenses/jquery.txt
	+l("robotoLicense", "https://fonts.google.com/specimen/Roboto")
		include /licenses/roboto.txt
